<!--<!doctype html>-->
<!--<html lang="en">-->

<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <meta name="viewport"-->
<!--    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--  <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--  <title>ShoeZup 👟</title>-->
<!--  &lt;!&ndash; Bootstrap Scripts &ndash;&gt;-->
<!--  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--    crossorigin="anonymous"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--    crossorigin="anonymous"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
<!--    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
<!--    crossorigin="anonymous"></script>-->
<!--  &lt;!&ndash; Font Awesome &ndash;&gt;-->
<!--  &lt;!&ndash; <script-->
<!--      defer-->
<!--      src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"-->
<!--    ></script> &ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />-->
<!--  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css" />-->
<!--  &lt;!&ndash; CSS stylesheet &ndash;&gt;-->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"-->
<!--    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />-->
<!--  <link rel="stylesheet" href="./public/css/signin.css" />-->

<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--  <h1 class="h3 mb-3 font-weight-normal">Please signin</h1>-->
<!--  <div class="input-group mb-3">-->
<!--      <div class="input-group-prepend">-->
<!--          <span class="input-group-text" id="basic-addon1">@</span>-->
<!--      </div>-->
<!--      <input type="text" class="form-control" placeholder="Username" aria-label="Username"-->
<!--          aria-describedby="basic-addon1">-->
<!--  </div>-->

<!--  <div class="input-group mb-3">-->
<!--      <div class="input-group-prepend">-->
<!--          <span class="input-group-text" id="basic-addon1">@</span>-->
<!--      </div>-->
<!--      <input type="text" class="form-control" placeholder="Password" aria-label="Password"-->
<!--          aria-describedby="basic-addon1">-->
<!--  </div>-->
<!--  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->

<!--  &lt;!&ndash; <form class="form-signin">-->
<!--    <div class="container">-->

<!--      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>-->
<!--      <label for="inputEmail" class="sr-only">Email address</label>-->
<!--      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>-->
<!--      <label for="inputPassword" class="sr-only">Password</label>-->
<!--      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>-->
<!--      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
<!--    </div>-->
<!--  </form> &ndash;&gt;-->
<!--</body>-->

<!--</html>-->